<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ui-sref-active="active" >
          <!--<a class="nav-link" href="schedule/schedule.html">Schedule</a>-->
          <a ui-sref=".announcements" ui-sref-active="active" active="isActive" ng-init="isActive=false">Announcements</a>
          <!--<a class="nav-link" href="schedule/schedule.html">Schedule</a>-->
        </li>
         <!--<div ng-include='ListPage'>-->
        <li class="nav-item" ui-sref-active="active" >
          <!--<a class="nav-link" href="schedule/schedule.html">Schedule</a>-->
          <a ui-sref=".schedule" ui-sref-active="active" active="isActive" ng-init="isActive=false">Schedule</a>
          <!--<a class="nav-link" href="schedule/schedule.html">Schedule</a>-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="post.html">Sample Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/main.jpg')" ng-controller="login_controller">
  <div class="overlay" ng-click="displayLogin()"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>BeachHacks</h1>
          <span class="subheading">April 21-22, 2018</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div ng-app="myApp" ui-view></div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-github fa-stack-1x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div><p class="copyright text-muted">Copyright &copy; Your Website 2017</p></div>
  </div>
</footer>

   <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex='-1' role="dialog" ng-controller="login_controller">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4></span>Admin Login Only</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>          
        </div>
        <div style="padding-top: 5px; padding-left: 10px; font-size: 15px; color:red;" ng-show="error">Failed Login!</div>
        <div class="modal-body">
          <form role="form" name="myForm" novalidate>
            <div class="form-group">
              <input type="text" class="form-control" name="username" ng-model="username" placeholder="Username" required>
              <span style="color:red; font-size:15px" ng-show="myForm.username.$dirty && myForm.username.$invalid">
              <div><span ng-show="myForm.username.$error.required">Username is required.</span></div>
              </span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required="">
              <span style="color:red; font-size:15px" ng-show="myForm.password.$dirty && myForm.password.$invalid">
              <span ng-show="myForm.password.$error.required">Password is required.</span>
              </span>              
            </div>
              <button type="submit" ng-click="login(username, password)" class="btn btn-block"></span>Login</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>

